*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: auto;
    width: 70vw;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    
}
a {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;  
    padding: 0 10px;
}
a::after {
    content: "";
    display: block;
    background-color: #6973c7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
a:hover{
    color: #ffffff;
}
a:hover::after{
    width: 100%;
}

/* ABOVE IS NAV BAR STYLING */

body {
    background-color: black;   
   
}
article {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    
}

img {
    filter: grayscale(100%);
    width: 100%;
    height: auto;  
    
}
img:hover{
    filter: none;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6vh;
    text-align: center;
    background: linear-gradient(to right,
    rgb(235, 240, 232),
    rgb(55, 56, 56));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgba(5, 102, 206, 0.112);
    padding-bottom: 2.5rem;
}
p {
    color: #ffffff;
    display: inline;
    font-size: 2vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgba(5, 102, 206, 0.112);
}
@media only screen and (max-width: 700px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .horizontal{
        grid-column: auto / span 1;
    }
}
@media only screen and (max-width: 768px) {
    
    img, h1, p, nav {
    width: 100%;
    }
}